<a href="https://colab.research.google.com/github/Karma7272-cmd/ElectronBot/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")  # Output: Hello, World!

Hello, World!

In [ ]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: nantha
Hello, nantha

data types:

x = 10             # int
y = 3.14           # float
z = "Hello"        # str
is_valid = True    # bool



int("5")        # Converts string to integer
float("3.5")    # Converts string to float
str(123)        # Converts integer to string

| Operator | Description         | Example       |
| -------- | ------------------- | ------------- |
| `+`      | Addition            | `3 + 2` → 5   |
| `-`      | Subtraction         | `3 - 2` → 1   |
| `*`      | Multiplication      | `3 * 2` → 6   |
| `/`      | Division (float)    | `3 / 2` → 1.5 |
| `//`     | Floor Division      | `3 // 2` → 1  |
| `%`      | Modulus (remainder) | `3 % 2` → 1   |
| `**`     | Exponentiation      | `2 ** 3` → 8  |

| Operator | Description         | Example       |
| -------- | ------------------- | ------------- |
| `+`      | Addition            | `3 + 2` → 5   |
| `-`      | Subtraction         | `3 - 2` → 1   |
| `*`      | Multiplication      | `3 * 2` → 6   |
| `/`      | Division (float)    | `3 / 2` → 1.5 |
| `//`     | Floor Division      | `3 // 2` → 1  |
| `%`      | Modulus (remainder) | `3 % 2` → 1   |
| `**`     | Exponentiation      | `2 ** 3` → 8  |

| Operator | Example  | Equivalent To |
| -------- | -------- | ------------- |
| `=`      | `x = 5`  |               |
| `+=`     | `x += 2` | `x = x + 2`   |
| `-=`     | `x -= 2` | `x = x - 2`   |
| `*=`     | `x *= 2` | `x = x * 2`   |
| `/=`     | `x /= 2` | `x = x / 2`   |

| Operator | Meaning                   | Example                  |
| -------- | ------------------------- | ------------------------ |
| `and`    | True if both are true     | `True and False` → False |
| `or`     | True if at least one true | `True or False` → True   |
| `not`    | Reverses the condition    | `not True` → False       |

In [ ]:
# Simple calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Product =", a * b)
print("Power =", a ** b)

In [ ]:
#basic if statement
x = 10
if x > 5:
    print("x is greater than 5")

In [ ]:
#if else statement
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

In [ ]:
#if...elif...else Chain
x = 0

if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

In [ ]:
#Nested if Statements
x = 20
if x > 10:
    if x < 30:
        print("x is between 10 and 30")

In [ ]:
# Logical Operators with Conditions
x = 15

if x > 10 and x < 20:
    print("x is between 10 and 20")

if x < 0 or x > 100:
    print("x is out of range")

if not (x == 15):
    print("x is not 15")
else:
    print("x is 15")

In [ ]:
#for Loop
for i in range(5):
    print(i)
# Output: 0 1 2 3 4

In [ ]:
#Loop through a string:
for char in "hello":
    print(char)

In [ ]:
#Loop through a list:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
#while Loop
x = 1
while x <= 5:
    print(x)
    x += 1

In [ ]:
#break and continue
for i in range(10):
    if i == 5:
        break
    print(i)
# Output: 0 1 2 3 4

In [ ]:
#else with Loops
for i in range(3):
    print(i)
else:
    print("Loop completed")  # Runs only if no `break`

In [ ]:
# Lists
fruits = ["apple", "banana", "cherry"]
print(fruits[0])     # Output: apple

fruits.append("orange")     # Add to end
fruits.remove("banana")     # Remove item
print(len(fruits))          # Length of list

In [ ]:
#Tuples
point = (10, 20)
print(point[0])      # Output: 10

In [ ]:
#Sets
colors = {"red", "green", "blue"}
colors.add("yellow")
colors.discard("green")
print(colors)

In [ ]:
# Dictionaries
person = {"name": "Alice", "age": 30}
print(person["name"])       # Output: Alice
person["city"] = "New York"  # Add new key-value pair

In [ ]:
#Example: Use All Structures

# List
fruits = ["apple", "banana"]

# Tuple
point = (10, 20)

# Set
unique_ids = {101, 102, 103}

# Dictionary
person = {"name": "John", "age": 30}

In [ ]:
#Defining a Function
def greet():
    print("Hello!")

In [ ]:
#Calling a Function
greet()   # Output: Hello!

In [ ]:
# Function with Parameters
def greet(name):
    print("Hello,", name)

greet("Alice")  # Output: Hello, Alice

In [ ]:
# (Multiple Positional Arguments):
def total(*numbers):
    print(sum(numbers))

total(1, 2, 3, 4)  # Output: 10

In [ ]:
#Opening a File
file = open("example.txt", "r")  # "r" = read mode

In [ ]:
#Reading from a File
file = open("example.txt", "r")
content = file.read()
print(content)
file.close()

In [ ]:
#Writing to a File
file = open("example.txt", "w")
file.write("Hello, World!")
file.close()

In [ ]:
# Writing Multiple Lines
file = open("example.txt", "w")
lines = ["Line 1\n", "Line 2\n", "Line 3\n"]
file.writelines(lines)
file.close()

In [ ]:
# Example: Count Words in a File
with open("example.txt", "r") as file:
    content = file.read()
    words = content.split()
    print("Word count:", len(words))